<div class="my-3">
  <h1>Gif Search</h1>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="d-flex gap-3">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
        <input
          #search
          type="text"
          class="form-control"
          placeholder="Search..."
          [(ngModel)]="term"
        />
      </div>
      <button class="btn btn-primary" (click)="searchValue(search.value)">
        Search
      </button>
      <button class="btn btn-outline-primary" (click)="clear()">Clear</button>
    </div>
  </div>
</div>
<div class="row my-3">
  <ng-container *ngIf="results$ | async as results">
    @for (item of results; track $index) {
    <div class="col-3" style="max-width: 200px">
      <div class="card mb-3 h-100">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.username }}</p>
        </div>
      </div>
    </div>
    }
  </ng-container>
</div>
